@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  -webkit-font-smoothing: antialiased;
}

.timeline-line::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #f9debd;
}

.reveal-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease-out;
}

.reveal-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

.grain-bg {
  position: relative;
}

.grain-bg::after {
  content: "";
  position: fixed;
  top: -100%;
  left: -100%;
  right: -100%;
  bottom: -100%;
  background: url("https://www.transparenttextures.com/patterns/felt.png");
  opacity: 0.03;
  pointer-events: none;
  z-index: 100;
}
